# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.next/
out/
build/
dist/

# Environment files
.env
.env.local
.env.*.local
terraform/terraform.tfvars

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/*.db

# Vercel
.vercel
